.interna{position: relative;}
.mainContainer{align-items: center;display: flex;flex-direction: column;}
/**************PRIMERA SECCION**************************/
.primeraSeccionContainer{align-items: center;background: #F4F5F7;display: flex;flex-direction: column;height: auto;justify-content: flex-start;width: 95.1%;}
.adText{align-items: center;display: flex;flex-direction: column;justify-content: center;margin: 0;width: 65%;text-align: center;}
.adText p{font-weight: bold;}
.descripciones{display: flex;align-items: flex-start;justify-content: space-between;width: 80%;/*border: 1px dashed green;*/flex-wrap: wrap;margin: 5rem 0;}
.descripcionesFour{width: 90% !important;}
.descripcionFour{width: calc((100% - 10rem) / 4) !important;}
.descripcion{display: flex;align-items: flex-start;justify-content: center;flex-direction: column;width: calc((100% - 10rem) / 3);margin-bottom: 3rem;}
.descripcion>span{background: black;height: .3rem;width: 85%;}
.descripcionItem{margin-top: 1rem;}
.descripcionItem h2{font-size: 1.18rem; color: #FE1878;margin-bottom: 1.5rem;}
.descripcionItem li{list-style: none;text-indent: -1.15rem;font-size: .82rem;}
.descripcionItem li::before{content: '• ';color: #FE1878;font-size: 1.7rem;line-height: 1.2rem;}
.subItem{margin-left: .9rem;display: table;}
.subItem li::before{content: '-';color: black !important;font-size: 1.5rem;line-height: 1.5rem;vertical-align: bottom;margin-right: .2rem;font-weight: lighter;}

.adSlider{/*border: 1px dashed blue;*/width: 85%;/*height: 28rem;*/margin-top: 2rem;display: flex;align-items: center;justify-content: center;margin-bottom: 2rem;}
.adSlider .slick-dots{bottom: -2.5rem;}
.adSlider .sliderContainer{/*border: 1px dashed red;*//*height: 28rem;*/width: 100%;}
.adSliderSlick .adSlideItem{display: flex;align-items: center;justify-content: flex-start;width: 100%;height: 100%;height: 24rem;background-repeat: no-repeat !important;background-position: right !important;background-size: 70% 100% !important;}
.slideContent{/*border: 1px dashed red;*/height: 100%;width: 60%;margin-left: 2%;display: flex;align-items: center;justify-content: center;flex-direction: column;}
.slideTittle{width: 84%;align-self: flex-end;margin-bottom: 1.5rem;}
.slideTittle h2{font-size: 2.8rem;}
.slideBox{width: 46%;margin-right: 26%;padding: 3rem 2rem;box-sizing: border-box;display: flex;flex-direction: column;align-items: flex-start;justify-content: center;}
.slideBox p:first-of-type{margin-bottom: 1rem;}

/********TITTLE MOBILE ANIMACION DIGITAL*********/
.titleMobile{display: none;}
.titleMobile .up a{position: relative;z-index: 1; color: #FF1976;font-weight: bold;display: block;margin-top: 2rem;font-size: 1.7rem;}
.titleMobile .up a::before{content: '-';opacity: 0;}
.titleMobile .up a::after{content: '-';opacity: 0;}
.titleMobile .up .subLine{position: absolute;bottom: 0;background: #DBDDE1;width: 100%;height: .9rem;z-index: -1;}

.sectionModaliTitu{margin-top: 6rem;}
/************BREADCRUMBS*************/
.breadCrumbs{display: flex;align-items: center;justify-content: flex-start;width: 90%;font-style: italic;font-size: .85rem;margin-top: 2rem;}
.breadCrumbs a{text-decoration: none;color: #89929A;font-size: .78rem}
.breadCrumbs a:after{content: '/'; color: #89929A; margin: 0 .2rem;}
.breadCrumbs a:last-child{color: #D92F6E}
.breadCrumbs a:last-child:after{content: ''}
/************************************/
/*******************************************************/


/******************SEGUNDA SECCION**********************/
.segundaSeccionContainer{display: flex;justify-content: flex-start;align-items: center;/*border: 1px dashed red;*/width: 95.1%;height: auto;flex-direction: column;background: white;position: relative;}
.segundaSeccionContainer .moduloImg{letter-spacing: -1px;color: #FE1878;font-weight: bold;margin-bottom:4rem;}
.mallaBtn{position: absolute;width: 100%;height: 100%;align-items: center;justify-content: center;opacity: 0;display: none;}
.mallaBtn p{color: #3C4044;font-weight: bold;font-size: 1.2rem;}
.moduloUp{width: 100%;display: flex;align-items: center;justify-content: center;flex-direction: column;margin-top: 4rem;}
.moduloDuracion{display: flex;align-items: center;justify-content: center;margin: 1.3rem 0;}
.moduloDuracion p{font-weight: bold;font-size: 1.2rem;}
.moduloDuracion p:first-child{margin-right: 3rem;}
.moduloDuracion span{color: #FE1878;}
.modulos{/*border: 1px dashed green;*/display: flex;align-content: center;justify-content: space-around;width: 80%; /*margin-bottom: 4rem;*/flex-wrap: wrap;}
.moduloTittle{/*height: 25%;*/width: 65%;display: flex;align-items: flex-start;justify-content: flex-start;flex-direction: column;/*margin-left: 5%;*//*margin-bottom: 1.5rem;*/min-height: 8rem;}
.moduloTittle span{background: #FE1878;height: 4px;width: 71%;margin: .5rem 0}
.moduloTittleUp{display: flex;align-items: flex-start;justify-content: flex-start;}
.moduloTittleUp p:first-child{font-size: .75rem;font-weight: bold;}
.moduloTittleUp p:last-child{font-size: 3.5rem;font-weight: bold;line-height: 3rem;}
.moduloTittleUp span{background: #FE1878;width: 2px;height: 2.9rem;margin: 0 .5rem;}
.moduloTittleDown p{color: #FE1878; font-weight: bold;font-size: .88rem;}
.modulo{width: calc((100% - 20rem) / 3);margin-bottom: 4rem;}
.moduloDescripcion{display: flex;align-items: flex-start;justify-content: center;flex-direction: column;width: 100%;}
/*******************************************************


/******************TERCERA SECCION**********************/
.terceraSeccionContainer{display: flex;justify-content: center;align-items: center;/*border: 1px dashed red;*/width: 95.1%;height: 8rem;background: #F4F5F7;}
.terceraSeccionContainer a{text-decoration: none;color: #3C4044;font-weight: bold;font-size: 1.2rem;}
.terceraSeccionContainer a:first-child{margin-right: 5rem;}
/*******************************************************/


/******************CUARTA SECCION**********************/
.cuartaSeccionContainer{display: flex;justify-content: center;align-items: center;flex-direction: column;/*border: 1px dashed red;*/width: 95.1%;height: auto;background: #FE1976;}
.cuartaSeccionContainer form{width: 55%}
.cuartaSeccionContainer>h2{color: white;margin: 3rem 0 1rem 0;}
.inputsLeft, .inputsRight{width: 48%;}
.inputs{display: flex;align-items: center;justify-content: space-between;/*border: 1px dashed black;*/}
.inputs .input{ display: flex;align-items: flex-start;justify-content: center;flex-direction: column;}
.inputs .input input{width: 100%;border: none;border-radius: 5px;padding: .5rem 1rem;box-sizing: border-box;font-size: 1rem;}
.inputs .input label{color: white;margin: 1.2rem 0 .6rem 0;}
.checkBoxCont{display: flex;align-items: center;justify-content: center;margin-top: 2.5rem;}
.checkBoxCont p , .checkBoxCont a{font-size: .85rem;color: white;}
.checkBoxCont a{text-decoration: underline;}
.btnContac{display: flex;align-items: center;justify-content: center;margin-top: 3rem;margin-bottom: 2.5rem;}
.btnContac button{cursor: pointer;color: black;border: none;background: transparent;font-weight: bold;font-size: 1rem;}
/*******************************************************/



/******************CUARTA SECCION**********************/
.quintaSeccionContainer{display: flex;justify-content: center;align-items: center;width: 95.1%;height: 14rem;background: #CCC;}
.quintaSeccionContainer .left, .quintaSeccionContainer .right{width: 50%;display: flex;align-items: center;justify-content: center;height: 100%;/*border: 1px dashed green;*/}
.quintaSeccionContainer .left a, .quintaSeccionContainer .right a{text-decoration: none;color: white;font-weight: bold;font-size: 1.2rem;}
/*******************************************************/


/*********FOOTER*********/
.adFooter{width: 95%;display: flex;align-items: center;justify-content: space-between;margin: .5rem auto 1rem auto; }
.adFooter p{font-size: .6rem;}
/************************/


/***********ALUMNOS EGRESADOS*************/
.alumnosEgresadosContainer{width: 65%;margin-top: 3rem;}
.aeUp{display: flex;align-items: center;justify-content: center;flex-direction: column;margin-bottom: 3rem;}
.aeUp a{position: relative;z-index: 1; color: black;font-weight: bold;display: block;font-size: 1.7rem}
.aeUp a::before{content: '-';opacity: 0;}
.aeUp a::after{content: '-';opacity: 0;}
.aeUp .subLine{position: absolute;bottom: 0;background: #FF1976;width: 100%;height: .6rem;z-index: -1;}
.aeUp h4{margin: 1.5rem 0;color: #FE1976;font-size: 1.2rem;}
.aeUp select{width: 48%;padding: .5rem 1rem;font-size: 1rem;border: 1px solid #EDEDED;border-radius: 5px;}
.aeItem .imgCont{width: calc((100% - 8rem) / 4);/*border: 1px dashed red;*/height: 17rem;margin-bottom: 2rem;display: flex;align-content: center;justify-content: space-between;flex-direction: column;text-align: center;text-decoration: none;color: black;}
.aeItem .imgCont .imagenFake img:nth-child(2){display: none;}
.aeItem .imgCont:hover .imagenFake img:nth-child(1){display: none;}
.aeItem .imgCont:hover .imagenFake img:nth-child(2){display: initial;}
.nameImg2{display: none;}
.nameImg2 i{margin-left: .5rem;color: black;display: inline-block;transform: scaleX(1.2);}
.aeItem .imgCont:hover .nameImg1{display: none;}
.aeItem .imgCont:hover .nameImg2{display: initial;}
.aeItem .imgCont p{color: #FE1976;font-weight: lighter;}
.aeItem{display: flex;align-content: center;justify-content: space-between;flex-wrap: wrap;width: 70%;margin: 0 auto;}
.imagenFake{width: 100%;/*border: 1px dashed green;*/height: 86%;}
.imagenFake img{width: 100%;height: 100%;}


/*************ALUMNO EGRESADO****************/
.aeDescripcion{display: flex;align-items: flex-start;justify-content: space-between;width: 65%;background: white;margin-bottom: 4rem;}
.aeDescripcion .aeDesLeft{/*border: 1px dashed red;*/width: 30%;}
.aeDescripcion .aeDesRight{width: 60%;box-sizing: border-box;padding: 3rem 3rem 0 0;}
.aeDescripcion .aeDesRight h3{color: #F92E81;margin-bottom: 1.5rem;font-size: 1.6rem;}
.aeDesText p:nth-child(1){font-size: .85rem;line-height: 1.3rem;}
.aeDesText p:nth-child(2){font-size: 1.4rem;line-height: 2rem;margin:1rem 0;}
.aeDesText p:nth-child(3){font-size: .85rem;line-height: 1.3rem;}
.aeRedes{margin: 2rem 0;}
.aeRedes a{text-decoration: none;color: black;font-size: 1.2rem;margin-right: .7rem;}
.aeButton a{text-decoration: none;color: black;font-size: 1.5rem;}
.aeMain{background: linear-gradient(to bottom, #F9F9F9 0%, #F9F9F9 55%, #FFFFFF 55%,#FFFFFF 100%) !important;}
.fake{/*border: 1px dashed green;*/width: 100%;height: 17rem;box-sizing: border-box;}
.fake img{width: 100%; height: 100%;}

/*******************************************/

/*****BOTONES CUSTOMIZADO*****/
.slick-dots li.slick-active button:before{opacity: 1;color: transparent;border: 2px solid #EF347D;background: white;}
.slick-dots li button:before{font-family: 'slick';font-size: 6px;line-height: 20px;position: absolute;top: 0;left: 0;width: 5px;height: 5px;content: '•';text-align: center;opacity: 1;color: transparent;-webkit-font-smoothing: antialiased;border-radius: 50%;border: 2px solid white;background: #EF347D;}

/**********MODALIDADES DE TITULACION**************/
.modalidadesFirst{width: 80%;}
.modalidadesSecond{width: 80%;display: none;}
.modalidadesSecond .tabTittle{width: 28rem}
.singleTextDescrip p{font-size: .83rem;margin-bottom: 1rem;}
/**********************************************/



/********************************************************************************************/
@media screen and (max-width: 1366px) {

}
/********************************************************************************************/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (max-width:1024px){

}
/********************************************************************************************/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (max-width:768px) {


	/*.adDescripciones{width: 85%;flex-direction: column-reverse;}
	.adDescripcion{width: 100%;}
	.adDescripcion span{background: transparent;}*/
	.descripciones, .descripcionesFour{flex-direction: column-reverse;}
	.descripcion{width: 100%;}
	.descripcionFour{width: 90% !important;margin-left: 5%;}
	.moduloDuracion{flex-direction: column;align-items: flex-start;}
	.moduloDescripcion{width: 85%;}
	.moduloDuracion p:first-child{margin-right: 0;margin-bottom: .5rem;}
	.modulos{flex-direction: column;}
	.modulo{width: 100%;display: flex;align-items: center;justify-content: center;flex-direction: column;margin-bottom: 4rem}
	.moduloTittle{align-self: center;margin-bottom: 4rem;}
	/*.modulo .listas{width: 100%;}*/
	.terceraSeccionContainer a:first-child{margin-right: 0;margin-bottom: 2rem;}
	.terceraSeccionContainer{flex-direction: column;}
	.inputs{flex-direction: column;}
	.inputsLeft, .inputsRight{width: 100%;}
	.cuartaSeccionContainer form{width: 80%;}
	.quintaSeccionContainer{flex-direction: column;}
	.quintaSeccionContainer .left, .quintaSeccionContainer .right{width: 100%;}
	/*****ALUMNOS EGRESADOS*******/
	.mallaBtn{opacity: 1;display: flex;}
	.aeSMainContainer .breadCrumbs{display: none;}
	.aeMain .breadCrumbs{display: none;}
	.aeUp h2{font-size: 2rem;}
	.aeUp h4{font-size: 1.5rem;font-weight: normal;}
	.aeUp select{width: 100%;padding: 1rem;}
	.aeItem{width: 90%;}
	.aeItem .imgCont{width: calc((100% - 2rem) / 2);height: 16rem;}
	.aeDescripcion{flex-direction: column;}
	.aeDescripcion .aeDesLeft{width: 100%;}
	.aeDescripcion .aeDesRight{width: 100%; padding: 3rem 0 0 0}
	.fake{height: 24rem;}
	.alumnosEgresadosContainer{width: 80%;}
	/******************************/

	/****MODULOS****/
	.segundaSeccionContainer{height: 4rem;display: initial;overflow: hidden;}
	.incuSeccionContainer{height: auto;display: flex;width: 95.1% !important;}

	/*******ANIMACION DIGITAL*********/
	.adSliderSlick .adSlideItem{flex-direction: column-reverse;}
	.adSliderSlick .adSlideItem .adSlideLeft .leftDescription{left: inherit;padding: 2rem 1.5rem;margin-top: 0;align-items: center;justify-content: center;text-align: center;width: 71%;bottom: 4rem;}
	.adSliderSlick .adSlideItem .adSlideLeft{width: 100%;height: 30%;}
	.adSliderSlick .adSlideItem .adSlideRight{width: 100%;height: 70%;}
	.adSliderSlick .adSlideItem .adSlideLeft .leftTittle{display: none;}
	.docks{display: none;}
	.adSlider{width: 100%;margin-bottom: 0;margin-top: 1rem;}
	.adText{width: 85%;text-align: center;margin-top: 0;}
	.adText p:first-child{margin-bottom: 0;}
	.adSliderSlick .adSlideItem .adSlideLeft .leftDescription p:nth-child(1){font-size: 1.2rem;font-weight: bold;}
	/*.adDescripcionItem{width: 100%;}*/
	/****TITTLE MOBILE ANIMACION DIGITAL****/
	.titleMobile{display: initial;}
}
/********************************************************************************************/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (max-width:640px) {
}
/********************************************************************************************/
@media (max-width:480px) {
	.adSlider{margin-bottom: 3rem;margin-top: 2rem;}
	.slideTittle h2{font-size: 2rem;}
	.adSlider .sliderContainer{}
	.adSliderSlick .adSlideItem{background-size: 100% 70% !important;height: 28rem;}
	.slideContent{width: 100%;margin-left: 0;justify-content: space-between;}
	.slideBox{width: 80%;margin-right: 0;}
	.slideTittle{display: flex;align-items: center;justify-content: center;align-self: initial;width: 100%}
	.alumnosEgresadosContainer{margin-top: 8rem;}
	.showContainer{height: auto !important;display: flex !important;}

}
/********************************************************************************************/