.imgFondo{margin-top: 3rem;width: 80%;display: flex;align-items: center;justify-content: center;background-repeat: no-repeat !important;background-position: top center !important;background-size: 100% !important;}
.incuSeccionContainer{width: 75%;margin-top: 51%;}
.incuSeccionContainer .descripciones{margin: 5rem 0 1rem 0;}
.incuSeccionContainer .adText{margin-top: 2rem;}